/.idea/*
!/.idea/codeStyles
/.gradle/
/build/
/openTCS-*/build/
*~

# Ignore approval test result files.
*Test*.received.txt

# 项目排除路径
/openTCS-API-Base/out/
/openTCS-API-Base/out/production/classes/
/openTCS-API-Base/out/test/classes/
/openTCS-API-Injection/out/
/openTCS-API-Injection/out/production/classes/
/openTCS-CommAdapter-Loopback/out/
/openTCS-CommAdapter-Loopback/out/production/classes/
/openTCS-Common/out/
/openTCS-Common/out/production/classes/
/openTCS-Common/out/test/classes/
/openTCS-Impl-Configuration-cfg4j/out/
/openTCS-Impl-Configuration-cfg4j/out/production/classes/
/openTCS-Kernel/out/
/openTCS-Kernel/out/production/classes/
/openTCS-Kernel-Extension-HTTP-Services/out/
/openTCS-Kernel-Extension-HTTP-Services/out/production/classes/
/openTCS-Kernel-Extension-RMI-Services/out/
/openTCS-Kernel-Extension-RMI-Services/out/production/classes/
/openTCS-KernelControlCenter/out/
/openTCS-ModelEditor/out/
/openTCS-OperationsDesk/out/
/openTCS-OperationsDesk/out/guiceConfig/classes/
/openTCS-OperationsDesk/out/production/classes/
/openTCS-PeripheralCommAdapter-Loopback/out/
/openTCS-PeripheralCommAdapter-Loopback/out/guiceConfig/classes/
/openTCS-PeripheralCommAdapter-Loopback/out/production/classes/
/openTCS-PlantOverview-Base/out/
/openTCS-PlantOverview-Base/out/production/classes/
/openTCS-PlantOverview-Base/out/test/classes/
/openTCS-PlantOverview-Common/out/
/openTCS-PlantOverview-Common/out/production/classes/
/openTCS-PlantOverview-Common/out/test/classes/
/openTCS-PlantOverview-Panel-LoadGenerator/out/
/openTCS-PlantOverview-Panel-LoadGenerator/out/guiceConfig/classes/
/openTCS-PlantOverview-Panel-LoadGenerator/out/production/classes/
/openTCS-PlantOverview-Panel-ResourceAllocation/out/
/openTCS-PlantOverview-Panel-ResourceAllocation/out/guiceConfig/classes/
/openTCS-PlantOverview-Panel-ResourceAllocation/out/production/classes/
/openTCS-PlantOverview-Themes-Default/out/
/openTCS-PlantOverview-Themes-Default/out/production/classes/
/openTCS-Strategies-Default/out/
/openTCS-Strategies-Default/out/guiceConfig/classes/
/openTCS-Strategies-Default/out/production/classes/
/openTCS-Strategies-Default/out/test/classes/